.projects-container {
    text-align: center;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

/* .featurette-divider {
    margin: 20px 0;
}

.featurette-heading {
    font-weight: normal;
    line-height: 1;
} */

.projects-title {
    font-size: 42px;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 20px;
}

.projects-subtitle {
    font-size: large;
    margin-bottom: 2rem;
}

.project-card {
    width: 100%;
    max-width: 500px;
    background-color: transparent !important;
    border: 0.1px solid #CC3384 !important;
    box-shadow: rgba(98, 75, 182, 0.15) 0px 4px 24px;
    color: white !important;
    padding: 18px 36px;
    margin-bottom: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto;
    display: block;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: rgba(98, 75, 182, 0.25) 0px 8px 32px;
}

.project-card .card-title {
    font-size: 22px;
    font-weight: 500;
    color: var(--text-secondary);
    margin-bottom: 20px;
    text-align: center;
}

.project-card .card-text {
    color: var(--text-primary);
    font-size: medium;
    text-align: center;
}

.project-card .btn {
    border-radius: 12px;
    padding: 8px 16px;
    font-size: 16px;
}

.project-tags {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.project-tags .badge {
    background-color: #CC3384 !important;
    color: #fff;
    font-size: small;
    padding: 8px 12px;
    border-radius: 12px;
}

.project-card img {
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .project-card {
        padding: 10px 36px;
        text-align: center;
    }

    .project-card .card-title {
        font-size: 24px;
    }

    .projects-title {
        font-size: 32px;
    }
}

@media (max-width: 500px) {
    .project-card {
        max-width: 330px;
        padding: 10px 20px;
    }

    .project-card .card-title {
        font-size: 20px;
    }

    .projects-title {
        font-size: 28px;
    }
}