.education-container {
    margin-top: 30px;
}

.education-wrapper {
    text-align: center;
    margin-bottom: 40px;
}

.featurette-divider {
    margin: 20px 0;
}

.featurette-heading {
    font-weight: normal;
    line-height: 1;
}

.education-title {
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: var(--text-primary);
}

.education-subtitle {
    font-size: 16px;
    color: var(--text-secondary);
    max-width: 600px;
    margin: 0 auto;
}

.education-row {
    display: flex;
    flex-wrap: nowrap;
    /* gap: 30px; */
    justify-content: center;
}

.education-column {
    display: flex;
    justify-content: center;
}

.education-card {
    width: 100%;
    max-width: 400px;
    background: var(--card);
    border: 0.1px solid #D200FF;
    box-shadow: rgba(98, 75, 182, 0.15) 0px 4px 24px;
    border-radius: 16px;
    /* padding: 18px 36px; */
    text-align: center;
}

@media (max-width: 768px) {
    .education-card {
        max-width: 330px;
        padding: 18px 24px;
    }
}

.education-image {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
    object-fit: cover;
    border-radius: 50%;
}

.education-text-center {
    margin-bottom: 8px;
    font-weight: 400;
}

.education-card-link {
    display: block;
    margin-top: 16px;
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.education-card-link:hover {
    color: #D200FF;
}

.education-subtitle-card {
    font-size: 14px;
}

@media (max-width: 500px) {
    .education-card {
        padding: 16px;
    }
}

.card {
    border: none !important;
}

.card-body {
    background-color: #090917 !important;
    color: white !important;
}

.card-body .text-muted {
    color: white !important;
}