.profile-image {
    width: 200px;
    height: auto;
}

.col-profile-image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.col-profile-image img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 20px #CC3384;
}

.bio-resume-button {
    background-color: #CC3384;
    border-color: #CC3384;
    color: #fff;
}

.bio-resume-button,
.bio-portfolio-button {
    font-size: 16px;
    transition: all 0.3s ease;
}

.bio-resume-button:hover {
    background-color: #D200FF;
    border-color: #D200FF;
}

.bio-portfolio-button {
    background-color: #D200FF;
    border-color: #D200FF;
    color: #fff;
}

.bio-portfolio-button:hover {
    background-color: #CC3384;
    border-color: #CC3384;
}

.typewriter-text {
    color: #CC3384;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-right: 2px solid #CC3384;
}

.bio-heading {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.bio-title {
    margin-top: 1em !important;
}

.bio-name {
    color: #ffffff;
}

.bio-heading span.typewriter-text {
    margin-left: 0.5rem;
}

.bio-container {
    margin-top: 80px;
}

.about-me-cover {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 2em;
}

.bio-text {
    text-align: justify;
}

@media (max-width: 767.98px) {
    .col-profile-image {
        margin-top: 3em;
    }

    .bio-heading {
        flex-direction: column;
        text-align: center;
    }

    .bio-container {
        margin-top: 0;
    }

    .bio-heading span.typewriter-text {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    .bio-title,
    .bio-name,
    .bio-text {
        text-align: center;
    }

    .bio-resume-button,
    .bio-portfolio-button {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .bio-heading span.typewriter-text {
        margin-left: 0.5rem;
    }

    .bio-container {
        margin-top: 0;
    }

    .col-profile-image {
        margin-top: 3em;
    }

    .bio-resume-button,
    .bio-portfolio-button {
        width: auto;
    }
}