.profile-image {
    width: 200px;
    height: auto;
}

.col-profile-image {
    align-items: center;
    display: flex;
    justify-content: center;
}

.bio-resume-button {
    background-color: #CC3384;
    border-color: #CC3384;
    color: #fff;
}

.bio-resume-button:hover {
    background-color: #D200FF;
    border-color: #D200FF;
}

.bio-portfolio-button {
    background-color: #D200FF;
    border-color: #D200FF;
    color: #fff;
}

.bio-portfolio-button:hover {
    background-color: #CC3384;
    border-color: #CC3384;
}

.typewriter-text {
    color: #CC3384;
}

.bio-heading {
    display: flex;
    align-items: center;
}

.bio-title {
    margin-top: 2em;
}

.bio-name {
    color: #ffffff;
}

.bio-heading span.typewriter-text {
    margin-left: 0.5rem;
}

.container {
    margin-top: 80px;
}

.about-me-cover {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 2em;
}
