.header {
  height: 70px;
  align-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #090917;
  box-shadow: rgba(98, 75, 182, 0.15) 0px 4px 24px;
  padding: 0 1em;
  align-content: flex-end;
}

ul {
  list-style-type: none;
  text-align: center;
  display: inline-flex;
}

ul li {
  margin: 0 1em;
}

.social-media svg {
  margin: 0 1em;
}

.social-media a svg {
  display: inline-block;
  margin-left: 15px;
}

.social-media svg {
  color: #CC3384;
  transition: color 0.2s ease-in-out;
}

.social-media svg:hover {
  fill: #D200FF;
}

code {
  margin-left: 100px;
}

.menu-links a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  font-weight: 500;
}

.menu-links a:hover {
  color: #CC3384;
}

@media (max-width: 768px) {
  .header {
    position: static;
    height: auto;
    padding: 10px 20px;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 10px;
  }

  .menu-links ul {
    flex-direction: column;
    align-items: center;
  }

  .menu-links ul li {
    margin: 5px 0;
  }

  .social-media {
    justify-content: center;
    margin-top: 10px;
  }
}