.header {
  height: 70px;
  align-content: center;
}

ul {
  list-style-type: none;
  text-align: center;
  display: inline-flex;
}

ul li {
  margin: 0 1em
}

.social-media svg {
  margin: 0 1em
}

.social-media a {
  display: inline-block;
  margin-left: 15px;
}

.social-media svg {
  fill: #CC3384;
}

/* .social-media a:hover svg {

} */