.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    padding: 1rem;
    color: var(--text-primary);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-divider {
    width: 100%;
    height: 2px;
    background-color: #CC3384;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.footer-social-media-icons {
    display: flex;
    color: #CC3384;
}

.footer-social-media-icons {
    display: inline-block;
}

.footer-social-media-icons:hover {
    color: var(--primary);
}

.footer-copyright {
    font-size: 0.9rem;
    color: var(--soft2);
}

.btn-footer {
    cursor: 'pointer';
    font-size: large;
    padding: 10px 20px;
    height: 50px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.footer-social-media-icons svg {
    fill: #CC3384;
    transition: color 0.2s ease-in-out;
}

.footer-social-media-icons svg:hover {
    fill: #D200FF;
}

.footer-button-title {
    font-size: large;
    font-weight: 500;
    margin: auto;
}

.Toastify__toast-icon svg {
    fill: #CC3384;
}

@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        text-align: left;
    }

    .footer-social-media-icons {
        justify-content: flex-end;
    }

    .footer-copyright {
        text-align: left;
    }
}