.certifications-container {
    text-align: center;
    padding: 2rem 1rem;
}

.certifications-title {
    text-align: center;
    padding: 2rem 1rem;
}

.certifications-subtitle {
    font-size:large;
}