.certifications-container {
    text-align: center;
    padding: 2rem 1rem;
}

.certifications-container .accordion-item {
    border: 0.1px solid #D200FF;
    box-shadow: rgba(98, 75, 182, 0.15) 0px 4px 24px;
}

.certifications-container .accordion-body table td {
    text-align: left;
}

.certifications-container .btn-link {
    color: #ffffff;
}

.certifications-title {
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.certifications-subtitle {
    margin-top: 10px;
    margin-bottom: 3em;
}

.featurette-divider {
    margin: 20px 0;
}

.featurette-heading {
    font-weight: normal;
    line-height: 1;
}

