.certifications-container {
    text-align: center;
    padding: 2rem 1rem;
}

.certifications-title {
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.certifications-subtitle {
    margin-top: 10px;
    margin-bottom: 3em;
}

.featurette-divider {
    margin: 20px 0;
}

.featurette-heading {
    font-weight: normal;
    line-height: 1;
}