.experience-container {
    text-align: center;
    padding: 2rem 1rem;
}

.experience-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.experience-subtitle {
    font-size: large;
}

.featurette-divider {
    margin: 20px 0;
}

.experience-company-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

.experience-card {
    text-align: left;
    background-color: transparent !important;
    color: white !important;
    box-shadow: rgba(98, 75, 182, 0.15) 0px 4px 24px;
}

.experience-card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.experience-badge-container .badge {
    background-color: #CC3384 !important;
}

.experience-tech-badge {
    background-color: #CC3384 !important;
    margin: 0.2rem;
}

.experience-badge-container {
    margin-bottom: 1rem;
}

.experience-line {
    height: 1px;
    background-color: #CC3384;
    margin-top: 10px;
}

.experience-company-logo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 20px;
}

.experience-card-text {
    text-align: justify;
}